<div class="logo-container-corner">
  <a href="/"><img src="/assets/Loga.png" alt="stada fint logo" /></a>
  <h2>StädaFint AB</h2>
</div>
{{#if customerLoggedIn}}
  <div class="booking-wrapper">
    <div class="booking-container">
      <div class="booking-form">
        <form action="/boka-stadning" method="post">
          <div class="customer-information">
            <input type="text" name="firstName" placeholder="Förnamn" /><br />
            <p class="registration-error">{{firstNameEmpty}}</p>
            <input type="text" name="lastName" placeholder="Efternamn" /><br />
            <p class="registration-error">{{lastNameEpty}}</p>
            <input type="text" name="streetName" placeholder="Gata" /><br />
            <p class="registration-error">{{adressEmpty}}</p>
            <input type="text" name="postalCode" placeholder="Postnummer" /><br
            />
            <p class="registration-error">{{postalCodeEmpty}}</p>
            <input type="text" name="city" placeholder="Ort" /><br />
            <p class="registration-error">{{enterCity}}</p>
            <input type="date" name="date" /><br />
            <p class="registration-error">{{chooseDate}}</p>
          </div>
          {{! <div class="submit-booking"> }}

          {{! DELA UPP FORMULÄRET HÄR ( TVÅ BOXAR) }}
          <div class="service-information">
            <div class="radio-btns-one">
              <input
                type="radio"
                name="cleaningOption"
                id="basic"
                value="Basic städning"
              />
              <label for="basic">Basic städning</label>
              <input
                type="radio"
                name="cleaningOption"
                id="top"
                value="Topp städning"
              />
              <label for="top">Topp städning</label>
            </div>
            <div class="radio-btns-two">

              <input
                type="radio"
                name="cleaningOption"
                id="diamond"
                value="Diamant städning"
              />
              <label for="diamond">Diamant städning</label>
              <input
                type="radio"
                name="cleaningOption"
                id="windows"
                value="Fönstertvätt"
              />
              <label for="windows">Fönstertvätt</label>
              <p class="registration-error">{{chooseCleaning}}</p>
            </div>

            <textarea
              name="message"
              cols="35"
              rows="10"
              placeholder="Skriv ditt meddelande här"
            ></textarea>
            <input type="submit" value="Boka" class="book-btn" />
          </div>
          {{! </div> }}
        </form>
      </div>
    </div>
  </div>
{{else}}
  <div class="wrapper">
    <div class="logo-container">
      <a href="/"><img src="/assets/Loga.png" alt="stada fint logo" /></a>

      <div class="error-container">
        <div class="error-message">
          <h2>Ajdå, något gick fel!</h2>
          <p><a href="/">Klicka här för att komma till startsidan!</a></p>
        </div>
      </div>
    </div>

  </div>
{{/if}}