<div class="single-booking-wrapper">
  <div class="single-booking-header">
    <h4>
      Här kan du se detaljerna kring din bokning.
    </h4>
    <p>Om det är något som inte stämmer så kan du avboka och
      <a href="/boka-stadning">boka på nytt.</a></p>
  </div>

  <div class="single-booking-container">
    <p><span>Datum för städning:</span> {{formatDate date}}</p>
    <p><span>Bokad av:</span> {{firstName}} {{lastName}}</p>
    <p><span>Adress för städning:</span>
      {{streetName}},
      {{postalCode}}
      {{city}}</p>
    <p><span>Typ av städning:</span> {{cleaningOption}}</p>
    <p><span>Ditt meddelande:</span>
      {{#if message}} {{message}} {{else}} Inga önskemål {{/if}}</p>
    <p><span>Status: </span>{{status}}</p>

  </div>
  <form action="/din-bokning/{{_id}}/avboka" method="post">
    <input type="submit" value="Avboka" />
  </form>
</div>