<div class="logo-container">
  <a href="/"><img src="/assets/Loga.png" alt="stada fint logo" /></a>
  {{! <h2>StädaFint AB</h2> }}
</div>

<div class="form-wrapper">


<form class="registration-form-container"
  {{#if customer}}
    action="/registrera-kund"
  {{else}}
    action="/registrera-stadare"
  {{/if}}
  method="post"
>

<div class="reg-contact-container">
  <input type="text" name="firstName" placeholder=" 👋  Förnamn" />
  <p class="registration-error">{{firstNameEmpty}}</p>

  <input type="text" name="lastName" placeholder="👊  Efternamn" />
  <p class="registration-error">{{lastNameEpty}}</p>

  <input type="text" name="email" placeholder="📧  E-post" />
  <p class="registration-error">{{emailTaken}}{{emailValid}}</p>

  <input type="text" name="streetName" placeholder="📫  Gata" />
  <p class="registration-error">{{adressEmpty}}</p>

  <input type="text" name="postalCode" placeholder="🔢  Postnummer" />
  <p class="registration-error">{{postalCodeEmpty}}</p>

  <input type="text" name="city" placeholder="🌍  Ort" />
  <p class="registration-error">{{enterCity}}</p>
</div>

   
<div class="reg-password-container">
  <p class="registration-error">{{somethingWentWrong}}</p>
   
   <input type="password" name="password" placeholder="🔒  Lösenord" />
   
  <input
    type="password"
    name="confirmPassword"
    placeholder="🔓  Bekräfta lösenordet"
  />
  <p class="registration-error">{{passwordToShort}}{{passwordEmpty}}{{passDontMatch}}</p>
  
  <input type="submit" value="Registrera konto ✌" class="register-btn" />
  </div>
  
</form>
</div>



